[Unit]
Description=Subaru Engine Logging Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/usr/bin/python3 /etc/pySSM2/logger.py

[Install]
WantedBy=multi-user.target
