[Unit]
Description=Subaru Engine Logging Service
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=idle
Restart=on-failure
User=__USER__
Environment=XDG_RUNTIME_DIR=/run/user/__UID__
Environment=WAYLAND_DISPLAY=__WAYLAND_DISPLAY__
Environment=SDL_AUDIODRIVER=dummy
ExecStart=/usr/bin/python3 /etc/pySSM2/logger.py

[Install]
WantedBy=graphical-session.target
