[Unit]
Description=Subaru Engine Logging Service
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=idle
Restart=on-failure
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=SDL_AUDIODRIVER=dummy
ExecStart=/usr/bin/python3 /etc/pySSM2/logger.py

[Install]
WantedBy=graphical-session.target
